.form-control {
    margin: 10px 0;
    width: 65%;
}

.btn {
    font-size: 16px;
    padding: 5px 30px;
    margin-bottom: 10px;
}

blockquote, 
code {
    margin: 10px 0;
}

.panel-heading {
    font-weight: 600;
    font-size: 16px;
}

.row {
    -webkit-column-width: 19em;    
    -moz-column-width: 19em;
    column-width: 19em;
    -webkit-column-gap:0;     
    -moz-column-gap: 0;
    column-gap: 0;
}

.col-md-4 {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%; 
}

.panel img {
    max-width: 350px;
}

.list-group li {
    font-size: 16px;
}